!TomorrowNight
#define t_background       #282828
#define t_current_line     #ebdbb2
#define t_selection        #a89984
#define t_foreground       #ebdbb2
#define t_comment          #969896
#define t_red              #cc241d
#define t_orange           #d79921
#define t_yellow           #fabd2f
#define t_green            #98971a
#define t_aqua             #689d6a
#define t_blue             #458558
#define t_purple           #b16286


*.foreground:   t_foreground
*.background:   t_background
*.cursorColor:  #aeafad

! Black / Grey
*.color0:       #282828
*.color8:       #928374

! Red / Bright Red
*.color1:       t_red
*.color9:       #fb4934

! Green + Bright Green
*.color2:       t_green
*.color10:      #b8bb26

! Yellow (Orange) + Bright Yellow (Yellow)
*.color3:       t_orange
*.color11:      t_yellow

! Blue + Bright Blue
*.color4:       t_blue
*.color12:      #83a598

! Magenta (Purple) + Bright Magenta
*.color5:       t_purple
*.color13:      #d3869b

! Cyan (Aqua) + Bright Cyan
*.color6:       t_aqua
*.color14:      #8ec07c

! Light Grey (Selection) + White (Current Line)
*.color7:       t_selection
*.color15:      t_current_line

URxvt.font:        xft:SourceCodePro-Medium:size=12, FontAwesome:size=12
URxvt.scrollBar:   false
URxvt.letterSpace: -1
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
URxvt.pearl-ext-common: default,matcher

URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

URxvt.color24:  #076678
URxvt.color66:  #427b58
URxvt.color88:  #9d0006
URxvt.color96:  #8f3f71
URxvt.color100: #79740e
URxvt.color108: #8ec07c
URxvt.color109: #83a598
URxvt.color130: #af3a03
URxvt.color136: #b57614
URxvt.color142: #b8bb26
URxvt.color167: #fb4934
URxvt.color175: #d3869b
URxvt.color208: #fe8019
URxvt.color214: #fabd2f
URxvt.color223: #ebdbb2
URxvt.color228: #f2e5bc
URxvt.color229: #fbf1c7
URxvt.color230: #f9f5d7
URxvt.color234: #1d2021
URxvt.color235: #282828
URxvt.color236: #32302f
URxvt.color237: #3c3836
URxvt.color239: #504945
URxvt.color241: #665c54
URxvt.color243: #7c6f64
URxvt.color244: #928374
URxvt.color245: #928374
URxvt.color246: #a89984
URxvt.color248: #bdae93
URxvt.color250: #d5c4a1

rofi.color-enabled:	true

! State:            'bg',         'fg',         'bgalt',      'hlfbg',        'hlfg'
rofi.color-normal:	t_background, t_foreground, t_background, t_selection, t_foreground
rofi.color-urgent:	t_background, t_foreground, t_background, t_selection, t_foreground
rofi.color-active:	t_background, t_foreground, t_background, t_selection, t_foreground

!                   'background', 'border'
rofi.color-window:	t_background, t_foreground

rofi.font:           SourceCodePro-Regular 13
rofi.fuzzy:	         true
rofi.hide-scrollbar: true
rofi.lines:	         15
rofi.opacity:        75
rofi.bw:             0
